/*
* Default color scheme
*/
:root{
	--text:               #444; /* var(--text, #444) */
	--background:         white; /* var(--background, white) */
	--text-color-with-bg: white; /* var(--text-color-with-bg, white) */


	--general:       #FF8100; /* var(--general, #FF8100) */
	--general-sub-1: #BF7830; /* var(--general-sub-1, #BF7830) */
	--general-sub-2: #A65400; /* var(--general-sub-2, #A65400) */
	--general-sub-3: #FFA040; /* var(--general-sub-3, #FFA040) */
	--general-sub-4: #FFBA73; /* var(--general-sub-4, #FFBA73) */

	--secondary:       #057D9F; /* var(--secondary, #057D9F) */
	--secondary-sub-1: #216477; /* var(--secondary-sub-1, #216477) */
	--secondary-sub-2: #025167; /* var(--secondary-sub-2, #025167) */
	--secondary-sub-3: #39AECF; /* var(--secondary-sub-3, #39AECF) */
	--secondary-sub-4: #61B7CF; /* var(--secondary-sub-4, #61B7CF) */



	--qoute: var(--general-sub-4, #FFBA73); /* var(--qoute, var(--general-sub-4, #FFBA73)) */
	--qoute-text: #333; /*var(--qoute-text, #333) */

	--input: var(--text, #444); /* var(--input, var(--text, #444)) */
	--input-border: var(--input, var(--text, #444)); /* var(--input-border, var(--input, var(--text, #444))) */
	--input-background: var(--background, white); /* var(--input-background, var(--background, white)) */
	--input-focus-background: #FFFFCC; /* var(--input-focus-background, #FFFFCC) */
	--input-placeholder: #888; /* var(--input-placeholder, #888) */

	--progress-bar-background: #ccc; /* var(--progress-bar-background, #ccc) */

	--selector-categoty-background: #eee; /* var(--selector-categoty-background, #eee) */
	--selector-categoty-text: #555; /* var(--selector-categoty-text, #555) */

	--popup-shadow:#0003; /* var(--popup-shadow, #0003) */

	--popup-text: var(--text, black); /* var(--popup-text, var(--text, black)); */
	--popup-background: var(--background, white); /* var(--popup-background, var(--background, white)) */
	--popup-border: var(--popup-text, var(--text, black)); /* var(--popup-border, var(--popup-text, var(--text, black))) */

	--popup-header-text: var(--text-color-with-bg, white); /* var(--popup-header-text, var(--text-color-with-bg, white)) */
	--popup-header-background: var(--general, #FF8100); /* var(--popup-header-background, var(--general, #FF8100)) */

	--popup-footer-text: black; /* var(--popup-footer-text, black) */
	--popup-footer-background: #ccc; /* var(--popup-footer-background, #ccc) */

	--tooltip-background: #444; /* var(--tooltip-background, #444) */
	--tooltip-text: white; /* var(--tooltip-text, white) */

	--dropdown-text: var(--text, #444); /* var(--dropdown-text, var(--text, #444)) */
	--dropdown-background: var(--background, white); /* var(--dropdown-background, var(--background, white)) */
	--dropdown-border: var(--dropdown-text, var(--text, #444)); /* var(--dropdown-border, var(--dropdown-text, var(--text, #444))) */
	
	--dropdown-hover-background: var(--general-sub-3, #FFA040); /* var(--dropdown-hover-background, var(--general-sub-3, #FFA040)) */
	--dropdown-hover-text: var(--text-color-with-bg, white); /* var(--dropdown-hover-text, var(--text-color-with-bg, white)) */

	/* Utilits */
	--muted:gray; /* var(--muted, gray) */

	--success:#19C55E; /* var(--success, #19C55E) */
	--success-hover:#4EE28A; /* var(--success-hover, #4EE28A) */

	--info:#62B7FF; /* var(--info, #62B7FF) */
	--info-hover:#89CAFF; /* var(--info-hover, #89CAFF) */

	--warning:#D2A052; /* var(--warning, #D2A052) */
	--warning-hover:#E9BF7E; /* var(--warning-hover, #E9BF7E) */
	
	--danger:#E97961; /* var(--danger, #E97961) */
	--danger-hover:#F49C89; /* var(--danger-hover, #F49C89) */
}